<h1>Document Classification Example - Solution of HeavyWater TakeHome Challenge</h1>

<p>This Python Flask application demonstrates App Engine Flexible to deploy web app and AI Platform to deploy Machine Learning from Google Cloud</p>

<br>

<html>
  <body>
    <!-- <form action="upload_photo" method="POST" enctype="multipart/form-data"> -->
    <form action="prediction" method="POST" enctype="multipart/form-data">
      Text <input type="text" name="words"><br>

      Model <select name='model'>
        <option value="ConvNN">ConvNN</option>
        <option value="LSTM">LSTM</option>
      </select><br>

      <input type="submit" name="submit" value="Submit">
    </form>

    <!-- {% for image_entity in image_entities %}
      <img src="{{image_entity['image_public_url']}}" width=200 height=200>
      <p>{{image_entity['blob_name']}} was uploaded {{image_entity['timestamp']}}.</p>
      <p>Joy Likelihood for Face: {{image_entity['joy']}}</p>
    {% endfor %} -->

  </body>
</html> 
